{% extends 'base.html' %}
{% block title %} {{ title }} {% endblock %}
{% block content %}

<form method="POST" action="/driver_input">
    <br>
    <div class="container bg-light">
        <br>
        <h1>GompeiScout - {{ title }}</h1>
        <br>
    </div>
    <br>
    <div class="container bg-light">
        <br>
        <p>{{ form.quals_number.label }}: {{ form.quals_number(style="width:5em;") }}</p>
        <p>{{ form.team_number.label }}: {{ form.team_number(style="width:5em;") }}</p>
        <br>
        <p>{{ form.feedback.label }}</p>
        <p>{{ form.feedback(rows=5, cols=50) }}</p>
        <br>
        <p><input type="submit" value="Submit"></p>
        <br>
    </div>
    <br>
</form>

{% endblock %}